<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en">
<head>
    <title>Register</title>
</head>
<body>
<div>
    <div>
        <h1>Sign Up</h1>
    </div>
    <form th:action="@{/process_register}" th:object="${user}" method="post">
        <div>
            <div class="form-group row">
                <label>Username: </label>
                <div>
                    <input type="text" th:field="*{username}" class="form-control" required/>
                </div>
                <label th:if="${usernameError != null }" th:text="${usernameError}"/>
            </div>

            <div>
                <label>Password: </label>
                <div>
                    <input type="password" th:field="*{password}" class="form-control"
                           maxlength="10"/>
                </div>
            </div>

            <div>
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
